<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Mermaid</title>
    <script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
    <script>
      mermaid.initialize ({
          startOnLoad: true, 
          theme: 'defalt'
      });
    </script>
</head>
<body>
    <div class="mermaid">
      graph LR
      A --100yen--> B
      B --> C
      C --> D
      D --> F
      E --> F
      F --> G
      G --> H
      H --> I
      I --> A

    </div>
</body>
</html>
